@use '../../../../Sass/variables.scss' as *;

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 25rem;
    height: 100vh;
  }
  
  .reset-password-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .reset-password-input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .reset-password-input:focus {
    border-color: $color-green-link;
    outline: none;
  }
  
  .reset-password-button {
    padding: 10px;
    background-color: $color-green-btn;
    color: $color-white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: $color-green-btn;
  }
  
  .reset-password-error,
  .reset-password-success {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .reset-password-error {
    color:$color-red;
  }
  
  .reset-password-success {
    color: $color-green-mark;
  }
  
  @media (max-width: 480px) {
    .reset-password-container {
      padding: 10px;
    }
  
    .reset-password-title {
      font-size: 1.2rem;
    }
  
    .reset-password-input {
      padding: 8px;
      font-size: 0.9rem;
    }
  
    .reset-password-button {
      padding: 8px;
      font-size: 0.9rem;
    }
  }
  