.expandCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.containerCard {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.boxImageCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.ruteCard {
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}

.boxImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.selectImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.selectImage:hover {
    border-color: #000;
}

.imageSelected {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.boxInfoCard {
    padding: 20px;
}

.info {
    margin-bottom: 20px;
}

.textInfo {
    font-size: 24px;
    margin-bottom: 10px;
}

.priceInfo, .newPriceText, .porcent {
    font-size: 20px;
    font-weight: 500;
    color: #35db35;
}

.newPrice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details {
    margin-bottom: 20px;
}

.titleDetails {
    font-size: 18px;
    margin-bottom: 10px;
}

.detailsSize {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.detailsSize span {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.detailsSize span:hover {
    background-color: #d0d0d0;
}

.detailsSize .active {
    background-color: #000;
    color: #fff;
}

.boxStock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textStock {
    font-size: 16px;
}

.stockNumber {
    font-size: 16px;
    color: #00ff00;
}

.description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.btnConsult {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
}

.btnConsult img {
    margin-right: 10px;
    
}

@media (min-width: 768px) {
    .containerCard {
        flex-direction: row;
    }

    .boxImageCard {
        border-right: 1px solid #f0f0f0;
        border-bottom: none;
        flex: 1;
    }

    .boxInfoCard {
        flex: 1;
    }
}
