.bannerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; /* Aplica el padding al contenedor */
    box-sizing: border-box; /* Incluye el padding en el tamaño total del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
  }
  
  .imageBanner {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .imageBanner:hover {
    opacity: 80%;
    cursor: pointer;
  }
  
  @media (max-width:480px) {

    .bannerSection{
      padding: 0;
    }
    
  }