.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ocupa toda la altura de la pantalla */ 
    width: 100%;

}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logoSpin {
    width: 8rem; /* Ajusta el tamaño de la imagen */
    animation: spin 5s linear infinite; /* Aplica la animación de giro */

}

.spinner p {
    font-size: 1.5rem;
    color: #333;
}

@media (max-width: 480px) {
    .spinner {
        gap: 0.5rem;
    }

    .logoSpin {
        width: 70px;
    }

    .spinner p {
        font-size: 1rem;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
