
.section-carrousel{
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.crsl{
   max-width: 100%;
}
.thumbs{
    display: none;
}
.carousel .slide{
    margin-inline: 0.2rem;
}
@media (max-width:480px) {

    .section-carrousel{
        max-width: 100%;
    }
    
}