.boxCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(251, 249, 249);
    max-width: 20rem;
    height: 25rem;
    border-radius: 10px;
    box-sizing: content-box;
}

/* Estilos de la imagen y el texto de la tarjeta */
.cardImage {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    /* Espacio entre la imagen y el texto */
}

.cardName {
    color: grey;
    width: 80%;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 0.5rem;
    /* Espacio entre el nombre y el precio */
}

.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.originalPrice {
    color: red;
    text-decoration: line-through;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.cardPrice {
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}

.discountPercentage {
    color: green;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
}

@media (max-width:480px) {
    .boxCard {
        height: auto;
    }
}
