.boxCard {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 200px;
    background-color: rgb(251, 249, 249);
    box-shadow: inset;
    border-radius: 10px;
}

.cardImage {
    border-radius: 5px;
    border: transparent;
    width: 150px;
    max-height:200px;
}

.cardName {
    color: grey;
    width: 80%;
    font-size: 16px;
}

.cardPrice {
    color: black;
    font-weight: 600;
    font-size: 16px;
}