/* Card.css */

/* Estilos existentes */
.boxCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(251, 249, 249);
    max-width: 20rem;
    height: 25rem;
    border-radius: 10px;
    box-sizing: content-box;
    position: relative; /* Necesario para la superposición */
    transition: opacity 0.3s ease; /* Suaviza el cambio de opacidad */
}

.cardLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de la imagen y el texto de la tarjeta */
.cardImage {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    /* Espacio entre la imagen y el texto */
}

.cardName {
    color: grey;
    width: 80%;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 0.5rem;
    /* Espacio entre el nombre y el precio */
}

.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.originalPrice {
    color: red;
    text-decoration: line-through;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.cardPrice {
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}

.discountPercentage {
    color: green;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
}

/* Nuevo CSS para "Sin Stock" */
.out-of-stock {
    opacity: 0.5; /* Reduce la opacidad para indicar que está agotado */
}

.out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente negro */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px; /* Coincide con el border-radius de la tarjeta */
    pointer-events: none; /* Evita que la superposición interfiera con los clics */
}

/* Responsividad */
@media (max-width: 480px) {
    .boxCard {
        height: auto;
    }
}
