/* General Styles */
.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    width: 100%;

}

.divCarrousel {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: fit-content;
    font-weight: 500;
    width: 100%;
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* Añadir espacio entre elementos */
}

.box-cart {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 8rem;
    height: 8rem;
}

.navbar-toggler {
    margin-left: auto;
}

.offcanvas-header h5 {
    margin: 0;
}

.offcanvas-body .nav-link {
    padding: 0.5rem 1rem;
}
.offcanvas.show {
    opacity: 1; /* Asegúrate de que no haya opacidad cuando el menú está visible */
}

.offcanvas {
    opacity: 1; /* Asegúrate de que no haya opacidad cuando el menú está cerrado */
    transition: opacity 0.3s ease; /* Transición para suavizar el efecto de visibilidad */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navContainer{
        padding:0 1rem;
    }
    .box-cart span {
        display: none;
    }

    .logo {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media (max-width: 480px) {


    .box-cart {
        align-items: center;
        gap: 0.5rem;
        /* Reducir espacio entre elementos */
    }

    .box-cart span {
        display: none;
    }

    .logo {
        width: 6.5rem;
        height: 6.5rem;
    }

    .navbar-toggler {
        margin-left: 0;
    }
}